.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.tab-container {
  min-width: 100px; 
  min-height: 20px; 
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  background-color: #ffffff; /* Белый фон */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-family: 'Graphik', sans-serif;
  display: flex;
  flex-wrap: wrap; /* Позволяет кнопкам переноситься на новую строку при необходимости */
}
/* Стили для мобильных устройств */
@media only screen and (max-width: 600px) {
  .burger-button {
  position: absolute;
  top: 3px; /* Отступ сверху */
  left: 1px; /* Отступ справа */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
  transition: right 0.5s ease; 
}
}



.tab-button {
  background-color: transparent; /* Установим прозрачный цвет фона */
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  font-size: 16px;
  flex: 1;
}

.tab-button.active {
  background-color: #f0f0f0;
}

.tab-hidden {
  min-height: 100px; /* Устанавливаем минимальную высоту */
}


.tab-content {
  background-color: #ffffff; /* Белый фон */
  padding: 10px; 
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  position: absolute;
  top: 92%; /* Расположим контент ниже кнопок */
  left: 0;
  right: 0;
  word-wrap: break-word;
 
  
}

.tab-content.active {
  display: block;
}



.burger-button {
  position: absolute;
  top: 3px; /* Отступ сверху */
  right: 1px; /* Отступ справа */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  z-index: 2;
  transition: right 0.5s ease; /* Добавим плавное анимированное перемещение */
}

#timeContainer {
  position: absolute;
  bottom: 10px; /* Изменено значение bottom */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#time {
  width: 200px;
  margin-top: -20px; /* Новое значение для поднятия элемента выше */
    border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  -webkit-appearance: none;
  -moz-appearance: none;
  
}


#dateTimeDisplay {
  margin-top: 10px;
  font-size: 18px;
  text-align: center;
}



